/* ===============frame=============== */

#wrap {
    width: 100%;
  }
  
body {
	margin: 0;
	padding: 0;
	background-image: url("../images/main_bg_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;	
} 
  /* [2]메인화면*/
 section {
    float: left;
    width: 100%;
    position: relative;
  }

/* ===============frame=============== */


section {
    width: 100%;
}
#all_box {
	width: 100%;
    display: flex;
    margin-top: 250px;
}
#sidebar {
    float: left;
    width: 180px;
    height: 200px;
    margin-left: 13%;
}
#nav_title {
    width: 180px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 50px;
    border-bottom: 1px #1C1A1A solid;
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-left: 5px;
}
#sidebar a {
    display: block;
    width: 180px;
    height: 50px;
    border-bottom: 0.5px solid #707070; 
}
#sidebar span {
    font-family: "Pretendard-Regular";
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
    color: #B5B1B1;
}
#sidebar a:hover span{
    padding-left: 10px;
    font-size: 17px;
    color: #1C1A1A;
}
#sidebar a:hover span::after {
    content: ">";
}
#sidebar a.active span {
    padding-left: 10px;
    font-size: 17px;
    color: #1c1a1a;
}
#sidebar a.active span::after {
    content: " >";
}

#container {
    width: 53%;
    margin-left: 200px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

table {
    border: 1px #555 solid;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
th {
    border: 1px #555 solid;
    border-bottom: none;
    background-color: #ccc;
    height: 40px;
    vertical-align: middle;
}
td {
    border: 1px #555 solid;
    border-top: none;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.notdone {
    color: red;
}

.done {
    color: #ccc;
}