/* ===============frame=============== */

#wrap {
    width: 100%;
  }

  /* [2]메인화면*/
 section {
    float: left;
    width: 100%;
    background-image: url("../images/main_bg_4.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
  }

/* ===============frame=============== */


#section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#sidebar {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    margin-top: 200px;
}
#nav_title {
    width: 120px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 50px;
    border-bottom: 1px black solid;
}
#sidebar a {
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px #ccc solid; 
}
#sidebar .active {
    color: black;
    border-bottom: 1px black solid;
}
#sidebar .active::after {
    content: " >";
}

#container {
    width: 1000px;
    margin-top: 200px;
    margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

table {
    border: 1px #555 solid;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
th {
    border: 1px #555 solid;
    border-bottom: none;
    background-color: #ccc;
    height: 40px;
    vertical-align: middle;
}
td {
    border: 1px #555 solid;
    border-top: none;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.notdone {
    color: red;
}

.done {
    color: #ccc;
}