@charset "UTF-8";

/* ===============frame=============== */
body {
	margin: 0;
	padding: 0;
	background-image: url("../images/main_bg_6.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
#wrap {
    width: 100%;
  }

  /* [2]메인화면*/
 section {
    float: left;
    width: 100%;
    
    position: relative;
  }

/* ===============frame=============== */


section {
    width: 100%;
    

}
#all_box {
    width: 100%;
    display: flex;
    margin-top: 250px;
}

#sidebar {
    float: left;
    width: 180px;
    height: 200px;
    margin-left: 13%;
}
#nav_title {
    width: 180px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 50px;
    border-bottom: 1px #1C1A1A solid;
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-left: 5px;
}
#sidebar a {
    display: block;
    width: 180px;
    height: 50px;
    border-bottom: 0.5px solid #707070; 
}
#sidebar span {
    font-family: "Pretendard-Regular";
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
    color: #B5B1B1;;
}
#sidebar a:hover span{
    padding-left: 10px;
    font-size: 17px;
    color: #1C1A1A;
}
#sidebar a:hover span::after {
    content: ">";
}
#sidebar a.active span {
    padding-left: 10px;
    font-size: 17px;
    color: #1c1a1a;
}
#sidebar a.active span::after {
    content: " >";
}

#container {
    width: 53%;
    margin-left: 200px;
}

.title {
    width: 100%;
    font-family: "Pretendard-Regular";
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    color: #1C1A1A;
}
.title2 {
    width : 70%;
}
#order_info {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-bottom: 50px;
}
table {
    border: 1px #707070 solid;
    border-collapse: collapse;
}
th {
    border: 1px #707070 solid;
    background-color: rgba(28, 26, 26, 0.65);
    border-bottom: none;
    height: 40px;
    vertical-align: middle;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    line-height: 40px;
    color: #FAFAF8;
    text-align: center;
}
td {
    border: 1px #707070 solid;
    border-top: none;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    line-height: 40px;
    color: #1C1A1A;
    background-color : white;
}

.btn {
    margin-left: 10px;
}

#order_info_list {
    display: flex;
    flex-direction: column;
    width: 1000px;
}
#order_info_list > div {
    display: flex;
}
.func_btns {
    width: 30%;
    float: right;
}
.func_btns .btn {
    float: right;
    width: 110px;
    height: 40px;
    background-color:#1C1A1A;
    text-align: center;
    font-family: "Pretendard-Regular";
    font-size: 15px;
    line-height: 38px;
    color: #FAFAF8;
    margin-top: 5px;
}
/* 페이징 */
.pagebox {
    width: 100%;
    height: 60px;
    margin-top: 30px; 
    margin-bottom : 200px;
}
.pagenum_wrap {
    margin: 0 auto;
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;
   
}
.pagenum_wrap li {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagenum_wrap a {
    display: block;
    width: 70%;
    height: 40px;
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 22px;
    line-height: 40px;
    color: #1C1A1A;
}
.pagenum_wrap a.prev::before {
    content: "<";
    display: none;
}
.pagenum_wrap a.next::after {
    content: ">";
    display: none;
}
.pagenum_wrap a:hover:before {
    display: inline-block;
}
.pagenum_wrap a:hover:after {
    display: inline-block;
}
button {
	cursor: pointer;
}
