@charset "utf-8";


#wrap {
  width: 100%;
}

/* [2]메인화면 */
#all_books {
  float: left;
  width: 100%;
  /* height: 300vh; */
  background-image: url("../images/main_bg_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* [2-1] 검색창 */
#all_books .search_wrap {
  width: 100%;
  height: 60px;
  /* background-color: lightslategray; */
  margin-top: 200px;
  position: relative;
}
/* 입력칸 스타일 초기화 */
.search_wrap input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
/* 입력박스 */
.search_wrap input.search_box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 630px;
  height: 50px;
  border: 1px solid #1C1A1A;
  margin-left: -315px;
  padding: 0 25px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
}
/* 검색버튼 */
.search_wrap input.search_btn {
  position: absolute;
  top: 0;
  left: 65%;
  background-image: url(../images/search_btn.png);
  background-repeat: no-repeat;
  background-position: 25px center;
  width: 70px;
  height: 50px;
}
/* [2-2] 페이지 타이틀 */
#all_books .page_ttl {
  width: 100%;
  height: 150px;
  /* background-color: tomato; */
  position: relative;
}
#all_books .page_ttl h3 {
  text-align: center;
  width: 280px;
  height: 60px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 24px;
  line-height: 60px;
  color: #1C1A1A;
  /* background-color: lavender; */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -140px;
  padding-top: 90px;
}
/* [2-3] 정렬 버튼 영역 */
#all_books .order_btns_wrap {
  width: 100%;
  height: 60px;
  /* background-color: skyblue; */
  margin-top: 85px;
}
/* 책 장르별 보기 */
.order_btns_wrap .category {
  float: left;
  width: 200px;
  height: 60px;
  /* background-color: azure; */
  margin-left: 360px;
  display: flex;
  justify-content: space-between;
}
/* 책 정렬순으로 보기 */
.order_btns_wrap .order_by {
  float: right;
  width: 300px;
  height: 60px;
  /* background-color: cadetblue; */
  margin-right: 360px;
  display: flex;
  justify-content: space-between;
}
/* 1200 1680 */
/* [2-4] 도서 상품 리스트 영역 */
/* 나중에 높이 없애기 */
#all_books .book_list {
  margin: 0 auto;
  width: 1200px;
  background-color: lightgreen;
}
#all_books .book_list .book_prod_wrap {
  float: left;
  width: 1200px;

}
/* 각각의 책 상품 영역 */
#all_books .book_prod_wrap li {
  float: left;
  width: 300px;
  height: 420px;
  /* background-color: lemonchiffon; */
  margin-bottom: 65px;
}
#all_books .book_prod_wrap li a {
  display: block;
}
/* 책 표지 */
#all_books .book_prod_wrap li .img_wrap {
  width: 280px;
  height: 270px;
  overflow: hidden;
  text-align: center;
  margin: 0 10px;
  background-color: #DFDDD5;
  padding: 45px 0;
}
#all_books .book_prod_wrap li .book_cover {
  height: 100%;
  filter: drop-shadow(5px 5px 5px #000);
}
/* 책 제목 */
#all_books .book_prod_wrap li .book_ttl {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  line-height: 35px;
  color: #1C1A1A;
  padding: 0 10px;
  /* background-color: blue; */
}
/* 책 가격 */
#all_books .book_prod_wrap li .book_price {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 25px;
  color: #1C1A1A;
  padding: 0 10px;
  /* background-color: yellowgreen; */
}
/* [2-5] 페이지 번호 */

#all_books .paging_box {
  float: left;
  width: 100%;
  height: 70px;
  /* background-color: lightcoral; */
  margin: 70px 0 200px 0;
}
#all_books .paging_box .page_num {
  margin: 0 auto;
  width: 400px;
  height: 70px;
  /* background-color: whitesmoke; */
  display: flex;
  justify-content: space-between;
}
#all_books .paging_box .page_num li {
  width: 30px;
  height: 70px;
  /* background-color: tomato; */
  text-align: center;
  position: relative;
}
#all_books .paging_box .page_num li a {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 40px;
  line-height: 50px;
  color: #B5B1B1;
  
}
#all_books .paging_box .page_num li a.now {
  color: #1C1A1A;
}
#all_books .paging_box .page_num li .page_icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -3px;
}
#all_books .paging_box .page_num li .page_icon.now {
  background-color: #1C1A1A;
}
/* [3] 푸터 */
#footer {
  float: left;
  width: 100%;
  height: 20vh;
  background: #1C1A1A;
  opacity: 0.47;
}