@charset "utf-8";

#wrap {
  width: 100%;
}

/* [2]메인화면*/
#book_order {
  float: left;
  width: 100%;
  background-color: #F2F2F2;
/*   background-image: url("../images/main_bg_4.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}
/* [2-1] 제목*/
#book_order .order_ttl {
    width: 100%;
    height: 240px;
    margin-top: 190px;
}
#book_order .order_ttl h2 {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    line-height: 85px;
    color: #1C1A1A;
}
section .order_ttl .process {
    width: 100%;
    height: 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process_wrap {
  width: 520px;
  height: 55px;
  border-top: 0.5px solid #707070;
  position: relative;
}
.circle {
  width: 536px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -8px;
  left: -8px;
}
.circle li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #B5B1B1;
  background-color: white;
  box-sizing: border-box;
}
.circle li.now {
  border: none;
  background-color: #1C1A1A;
}
.pro_name {
  width: 666px;
  height: 30px;
  position: absolute;
  left: -68px;
  bottom:0;
  display: flex;
  justify-content: space-between;
}
.pro_name li {
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 30px;
  color: #B5B1B1;
}
.pro_name li.now {
  color: #1C1A1A;
}
/* [2-2] 주문 상세내역 */
/* 소제목 */
#order_detail .ttl {
    margin: 0 auto;
    width: 1300px;
    height: 35px;
    /* background-color: lightgreen; */
}

/* 주문 상세내역 표 */
/* 나중에 높이 지우기 */
#order_detail .container {
    margin: 0 auto;
    width: 1300px;
}
#order_detail .container table {
  width: 100%;
  background-color: white;
}
#order_detail .container table th {
  height: 70px;
  background-color: rgba(28, 26, 26, 0.75);
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  font-family: 'NotoSerifKR';
  font-size: 20px;
  line-height: 70px;
  color: #FAFAF8;
}
#order_detail .container table td {
  text-align: center;
  height: 120px;
  font-family: "Pretendard-Regular";
  font-size: 20px;
  line-height: 120px;
  color: rgba(46, 45, 45, 1);
  border-bottom: 0.5px solid #707070; 
}
/* 작동안함 물어보기 */
/* #order_detail .container table td.hidden_col {
  display: none;
} */
/* 상품/옵션 정보 스타일 다르게 맞추기 */
#order_detail .container table .book_name {
  position: relative;
}
.img_box {
  position: absolute;
  width: 30%;
  height: 120px;
  top:0;
  left:0;
  text-align: center;
}
#order_detail .container table .book_name img {
  height: 100px;
  margin-top: 10px;
  margin-left: 20px;
}
.ttl_writer_wrap {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 120px;
  display: flex;
  align-items: center;
}
.ttl_writer_wrap p {
  line-height: 30px;
  padding: 13px 5px 5px 15px;
}
/* 셀렉트박스 커스텀 */
select {
  width: 70px;
  padding: .6em .5em;
  border: 1px solid #999;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  color: rgba(46, 45, 45, 1);
  background: url(../images/order_num_dropdown.png) no-repeat 90% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
/* 체크박스 크기 조정 */
input[type=checkbox] {
  width: 17px;
  height: 17px;
}
/* [2-3] 선택상품 삭제 버튼 */
#order_detail .container .chk_delete {
    float: left;
    display: block;
    width: 140px;
    height: 35px;
    border: 1px solid #707070;
    margin-top: 18px;
    cursor: pointer;
}
#order_detail .container .chk_delete h4 {
	text-align: center;
	font-family: 'NotoSerifKR';
    font-size: 15px;
    line-height: 35px;
    color: rgba(46, 45, 45, 1);
    position:relative;
    top:-2px;
}
#order_detail .container .chk_delete:hover {
    background-color: white;
    transition: 0.3s;
}

/* [2-4] 장바구니 합계 (주문 넘기기전 상태) */
.order_prev_check_wrap {
    float: right;
}
#order_detail .container .cart_tot {
    width: 720px;
    height: 300px;
    /* background: url(../images/cart_tot_2.png) no-repeat 0 50%; */
    background-color: white;
    margin-top: 60px;
}
#order_detail .container .cart_tot ul {
    margin: 0 auto;
    width: 640px;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
#order_detail .container .cart_tot li.plus,
#order_detail .container .cart_tot li.equal {
  margin-top: 92px;
}
#order_detail .container .cart_tot h4 {
    font-family: 'NotoSerifKR';
    font-size: 18px;
    line-height: 33px;
    color: #2E2D2D;
    margin-top: 60px;
    text-align: center;
}

#order_detail .container .cart_tot span {
    display: inline-block;
    font-family: 'NotoSerifKR';
    font-size: 31px;
    line-height: 47px;
    color: #2E2D2D;
    padding-top: 40px;
    text-align: center;
}
#order_detail .container .cart_tot p {
    float: right;
    font-family: 'NotoSerifKR';
    font-size: 18px;
    line-height: 25px;
    color: #5A5656F0;
    padding-right: 40px;
}
/* [2-5] 주문 버튼 */
#order_detail .container .order_btns_wrap {
    float: right;
    width: 460px;
    height: 70px;
    margin-top: 18px;
    margin-bottom: 300px;
}
.order_btns_wrap li {
    float: left;
    width: 225px;
    height:60px;
    border: 1px solid #1C1A1A;
    box-sizing: border-box;
    margin-right: 10px;
}
.order_btns_wrap li.all {
    margin-right: 0;
    background-color: #1C1A1A;;
}
.order_btns_wrap li button {
    display: block;
    width: 225px;
    height:60px;   
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.order_btns_wrap li h4 {
	text-align: center;
	font-family: 'NotoSerifKR';
    font-size: 22px;
    line-height: 60px;
    color: #1C1A1A;
    position: relative;
    top: -2px;
}

.order_btns_wrap li.chk_only:hover {
	cursor: pointer;
	background-color : white;
	box-shadow: 0 0 6px #999;
}
.order_btns_wrap li button[disabled]:hover {
	cursor: not-allowed;
	background-color : transparent;
	box-shadow: none;
}
.order_btns_wrap li.all:hover {
	box-shadow: 0 0 6px #000;
}
.order_btns_wrap li.all h4 {
	color: whitesmoke;
  	font-weight: lighter;
}

