@charset "utf-8";

#wrap {
  width: 100%;
}

/* [2]메인화면*/
section {
  float: left;
  width: 100%;
  background-image: url("../images/main_bg_6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* [2-1] 제목*/
section .join1_header {
    width: 100%;
    height: 240px;
    margin-top: 190px;
}
section .join1_header h2 {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    line-height: 85px;
    color: #1C1A1A;
}
section .join1_header .process {
    width: 100%;
    height: 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process_wrap {
  width: 520px;
  height: 55px;
  border-top: 0.5px solid #707070;
  position: relative;
}
.circle {
  width: 536px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -8px;
  left: -8px;
}
.circle li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #B5B1B1;
  background-color: white;
  box-sizing: border-box;
}
.circle li.now {
  border: none;
  background-color: #1C1A1A;
}
.pro_name {
  width: 658px;
  height: 30px;
  position: absolute;
  left: -65px;
  bottom:0;
  display: flex;
  justify-content: space-between;
}
.pro_name li {
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 30px;
  color: #B5B1B1;
}
.pro_name li.now {
  color: #1C1A1A;
}
/* [2-2] 회원 정보 입력 */
/* 필수입력사항 가이드메시지 */
.guide_msg {
  margin: 0 auto;
  width: 1100px;
  height: 30px;
  margin-top: 25px;
}
.guide_msg p {
  float: right;
  font-family: "Pretendard-Regular";
  font-size: 15px;
  color: #5A5656;
  line-height: 30px;
  letter-spacing: 200%;
}
/* 회원가입폼 전체 영역 */
#join_form {
  margin: 0 auto;
  width: 1100px;
}

/* ****입력칸 스타일 공통***** */

.container .row {
  width: 100%;
  height: 66px;
  background-color: white;
  border-top: 0.05px solid #707070;
  padding-bottom: 2px;
  padding-top: 2px;
  background-clip: content-box;
}
.container .row_msg {
  width: 100%;
  height: 96px;
  background-color: white;
  border-top: 0.05px solid #707070;
  padding-bottom: 2px;
  padding-top: 2px;
  background-clip: content-box;
  position: relative;
}
.container .row_3 {
    width: 100%;
    height: 170px;
    background-color: white;
    border-top: 0.05px solid #707070;
    padding-bottom: 2px;
    padding-top: 2px;
    background-clip: content-box;
    display: flex;
  }
  .row_3 .wrap {
      width: 70%;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 7px;
  }
/* 첫번째 행의 보더 탑 굵게 */
/* 스타일 적용안됨 물어보기 */
.container .row:first-child {
 border-top: 1.5px solid #707070;
}
/* 마지막 행의 보더 바텀 굵게 */
.container .row:last-child {
 border-bottom: 1.5px solid #707070;
}
/* label 크기 */
.row label {
  display: inline-block;
  width: 250px;
  height: 66px;
  background-color: rgba(28, 26, 26, 0.05);  
  font-family: 'NotoSerifKR';
  font-size: 19px;
  color: #2E2D2D;
  line-height: 66px;
  padding-left: 15px;
  vertical-align: middle;
}
.row_msg label {
  display: inline-block;
  width: 250px;
  height: 96px;
  background-color: rgba(28, 26, 26, 0.05);  
  font-family: 'NotoSerifKR';
  font-size: 19px;
  color: #2E2D2D;
  line-height: 66px;
  padding-left: 15px;
}
.row_3 label {
  display: inline-block;
  width: 250px;
  height: 170px;
  background-color: rgba(28, 26, 26, 0.05);  
  font-family: 'NotoSerifKR';
  font-size: 19px;
  color: #2E2D2D;
  line-height: 170px;
  padding-left: 15px;
}
/* 입력칸 크기 */
.row input[type="text"],
.row input[type="password"],
.row input[type="date"],
.row input[type="tel"] {
  width: 390px;
  height: 45px;
  padding-left: 15px;
  font-family: "Pretendard-Regular";
}
.row_msg input[type="text"],
.row_msg input[type="password"] {
  width: 390px;
  height: 45px;
  padding-left: 15px;
  font-family: "Pretendard-Regular";
}
/* 아이디 중복확인 */
#checkId {
	width: 100px;
	height: 45px;
	background-color: #1C1A1A;
	font-family: "Pretendard-Regular";
  	line-height: 45px;
  	color: white;
  	border: none;
  	cursor: pointer;
}
/* 이메일 */
.email span{
   font-family: "Pretendard-Regular";
   font-size: 16px;
   color: #1C1A1A; 
   line-height: 66px;
}
#checkEmail {
	width: 100px;
	height: 45px;
	background-color: #1C1A1A;
	font-family: "Pretendard-Regular";
  	line-height: 45px;
  	color: white;
  	border: none;
  	cursor: pointer;
}
/* 휴대폰인증 버튼 */
#authPhone {
	width: 100px;
	height: 45px;
	background-color: #1C1A1A;
	font-family: "Pretendard-Regular";
  	line-height: 45px;
  	color: white;
  	border: none;
  	cursor: pointer;
}
/* 주소 */
.row_3 input {
  height: 45px;
  padding-left: 15px;
  font-family: "Pretendard-Regular";
}
#addr_1 {
    width: 230px;
    outline:none;
}
#findPost {
    width: 150px;
    margin-left: 5px;
    text-align: center;
    padding-left: 5px;
    background-color: #1C1A1A;
    font-family: "Pretendard-Regular";
    color: white;
    cursor: pointer;
}
#addr_2 {
    width: 390px;
    outline:none;
}
#addr_3 {
  width: 390px;
}
/* read_only 입력칸 스타일 */
  input:-moz-read-only {background-color: #EFEFEF; border:0.5px solid #707070;} 
  input:read-only {background-color: #EFEFEF; border:0.5px solid #707070;}  
/* 중복알림 메시지 */
.row_msg p { 
  /* display: none; */
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 20px;
  color: #FF2704;
  position: absolute;
  top: 70px;
  left: 280px;
}
.row_msg p.pass {
  color: #134C0B;
}
/* 셀렉트박스 커스텀 */
select {
  width: 120px;
  height: 45px;
  padding: .6em .5em;
  border: 1px solid #999;
  font-family: "Pretendard-Regular";
  font-size: 15px;
  color: rgba(46, 45, 45, 1);
  background: url(../images/order_num_dropdown.png) no-repeat 90% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
/* 좋아하는 장르 선택 */
.final {
  border-bottom: 1px solid #707070;
}
.row input[type="radio"] {
  width: 30px;
  height: 15px;
  padding-left: 3px;
  position: relative;
  top: 1.2px;
}
.final span {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #1C1A1A;
}
.final p {
	margin-left: 20px;
  display: inline-block;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  color: #858585;
}
/* 회원가입 버튼 */
.submit_btn_wrap {
  width: 100%;
  height: 55px;
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}
.submit_btn {
  display: block;
  width: 350px;
  height: 55px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
  line-height: 55px;
  color: #1C1A1A;
  border: 1px solid #707070;
  text-align: center;
  cursor: pointer;
}
.submit_btn:hover {
  color: whitesmoke;
  background-color: #1C1A1A;
  transition: 0.3s all ease;
}
/* 달력 아이콘 변경 */
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    opacity: 0;
      
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 8000;
} 
.row_birth {
  position: relative;
}
.fa-calendar-alt {
  color: #707070;
  position: absolute;
  top: 37%;
  left: 59%;
  z-index: 7000;
  font-size: 18px;
}
    

  