@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background-image: url("../images/main_bg_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap {
  width: 100%;
}

/* [2]메인화면*/
section {
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url("../images/main_bg_6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* [2-1] 제목*/
section .join1_header {
    width: 100%;
    height: 240px;
    margin-top: 190px;
}
section .join1_header h2 {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    line-height: 85px;
    color: #1C1A1A;
}
/* 여기부터 */
section .join1_header .process {
    width: 100%;
    height: 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process_wrap {
  width: 520px;
  height: 55px;
  border-top: 0.5px solid #707070;
  position: relative;
}
.circle {
  width: 536px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -8px;
  left: -8px;
}
.circle li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #B5B1B1;
  background-color: white;
  box-sizing: border-box;
}
.circle li.now {
  border: none;
  background-color: #1C1A1A;
}
.pro_name {
  width: 658px;
  height: 30px;
  position: absolute;
  left: -65px;
  bottom:0;
  display: flex;
  justify-content: space-between;
}
.pro_name li {
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 30px;
  color: #B5B1B1;
}
.pro_name li.now {
  color: #1C1A1A;
}
/* [2-2] 약관동의 박스 */
#check_btns_group {
  width: 100%;
}
#term_box {
  margin: 0 auto;
  width: 42%;
  height: 312px;
  display: flex;
  justify-content: space-between;
}
#term_box li {
  width: 47%;
  height: 310px;
  border: 1px solid #858585;
}
.term_ttl {
  width: 100%;
  height: 60px;
  background-color: rgba(28, 26, 26, 0.75);
  padding: 0 15px;
  box-sizing: border-box;
}
.term_ttl input {
  width: 15px;
  height: 15px;
  position: relative;
  top: 1.2px;
}
.term_ttl label {
  font-family: "Pretendard-Regular";
  font-size: 17px;
  line-height: 60px;
  color: white;
}
.term_contents {
  width: 100%;
  height: 250px;
  background-color: white;
  overflow: scroll;
  padding : 15px 10px 0 10px;
  box-sizing: border-box;
}
.term_contents p {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 17px;
}
.agree_chk {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.agree_chk input {
  width: 15px;
  height: 15px;
  position: relative;
  top: 1.2px;
}
.agree_chk label {
  font-family: "Pretendard-Regular";
  font-size: 17px;
  color: #1C1A1A;
  line-height: 30px;
}
#next {
  display: block;
  width: 350px;
  height: 55px;
  margin-top: 30px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
  line-height: 55px;
  color: #1C1A1A;
  border: 1px solid #707070;
  text-align: center;
  cursor: pointer;
}
#next:hover {
  color: whitesmoke;
  background-color: #1C1A1A;
  transition: 0.3s all ease;
}


