@charset "utf-8";


#wrap {
  width: 100%;
}

/* [2]메인화면*/
#login_view {
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url("../images/main_bg_6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* 로그인 박스 */
#login_view .container {
    margin: 0 auto;
    margin-top: 250px;
    width: 400px;
}
/* 로그인 제목 */
.container header {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    line-height: 50px;
    color: #1C1A1A;
    margin-bottom: 100px;
}
/* 입력행 크기 */
.container .row {
    width: 379px;
    height: 68px;
   
}
.container .row_s {
    width: 379px;
    height: 45px;
}
/* 알림메세지 */
.container p {	
	font-family: "Pretendard-Regular";
	font-size: 14px;
	line-height: 14px;
	color: #FF2704;
	padding-left: 2px;
	padding-bottom: 20px;
}
.row input[type="text"],
.row input[type="password"] {
    width: 379px;
    height: 52px;
    padding-left: 15px;
    font-family: "Pretendard-Regular";
    font-size: 15px;
    line-height: 52px;
    color: #5A5656F0;
  }
.row input[type="checkbox"] {
    font-family: "Pretendard-Regular";
    font-size: 17px;
    line-height: 45px;
    color: #5A5656F0;
    width: 23px;
    height: 23px;
}
.row_s label {
	font-family: "Pretendard-Regular";
    font-size: 15px;
    line-height: 45px;
    color: #5A5656F0;
    position: relative;
    top: -1px;
}
#btn_login {
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-family: 'NotoSerifKR';
    color: #1C1A1A;
    font-size: 15px;
}

/* 회원가입/ 찾기 버튼 */
.join_find {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
}
.join_find p {
    font-family: "Pretendard-Regular";
    font-size: 15px;
    line-height: 20px;
    color: #1C1A1A;
    padding-left: 5px;
    margin-bottom: 5px;
}
.join_find .btn_group {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.join_find .btn_group a {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    line-height: 50px;
    color: #1C1A1A;
    text-align: center;
    
}
.join_find .btn_group a:hover {
	background-color: white;
    transition: 0.5s all ease;
}
.join_find .join {
    display: block;
    width: 37%;
    height: 100%;
    border: 1px solid #1C1A1A;
    box-sizing: border-box;
}
.join_find .find_id_pw {
    display: block;
    width: 60%;
    height: 100%;
    border: 1px solid #1C1A1A;
    box-sizing: border-box;
}
