@charset "utf-8";

a:hover {
	text-decoration-line: none;
	text-decoration: none;
}
a {
	 text-decoration-line: none;
}
/* [1] 헤더 */
#header {
  float: left;
  width: 100%;
  height: 85px;
  /* background-color: aquamarine; */
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 9999;
}
/* 헤더 틀 */
.header_wrap {
  margin: 0 auto;
  width: 78%;
  height: 85px;
  /* background-color: whitesmoke;   */
  position: relative;
}
/* 로고 */
.header_wrap .logo {
  float: left;
  width: 110px;
  height: 48px;
  border: 1px solid #707070;
  margin: 16px 0 0 10px;
  font-family: 'Prata', serif;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}
/* 네비메뉴 */
#header nav {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 441px;
  height: 80px;
  margin-left: -220.5px;
}
/* (1) 메인 네비 */
#header .main_nav {
  width: 100%;
  height: 80px;
  /* background-color: lightskyblue; */

}
#header .main_nav > li {
  
  float: left;
  width: 147px;
  height: 80px;
  /* background-color: wheat; */
  
}
#header .main_nav > li > a {  
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 20px;
  line-height: 32px;
  color: #1C1A1A;
  text-align: center;
  /* background-color: royalblue; */
  padding-top: 22px;
  position: relative
}
#header .main_nav > li > a::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 1px;
  background-color: #1C1A1A;
  position: absolute;
  transform-origin: left top;
  top: 55px;
  left: 50%;
  margin-left: -18px;
}
#header .main_nav > li > a:hover:after {
  width: 36px;
  transition: all 0.15s ease;
}
#header .main_nav > li:first-child:hover > ul {
  opacity : 1;
  visibility: visible;
}
/* BOOKS HOVER : 서브메뉴 보이기 */

#header .books_sub_mn {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -192px;
  width: 90px;
  height: 60px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.2s ease;
}

#header .books_sub_mn li {
  width: 100%;
  height: 24px;
  border: 0.4px solid #1C1A1A;
  border-radius: 13px;
  text-align: center; 
  overflow: hidden;
}
#header .books_sub_mn li a {
  display: block;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 13px;
  line-height: 24px;
  color: #1C1A1A;
}
#header .books_sub_mn a:hover {
  background-color: #1C1A1A;
  color: white;
}
/* 인포메뉴 */
#header .info_mn{
  float: right;
  display: block;
  width: 200px;
  height: 85px;
  /* background-color: lightgreen;   */
}
#header .info_mn span {
  float: right;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
  line-height: 85px;
  color: #1C1A1A;
  padding-right: 10px;

}
#header .info_mn img {
  float: right;
}