@charset "utf-8";

#wrap {
  width: 100%;
}

/* [2]메인화면*/
#book_order {
  float: left;
  width: 100%;
  background-color: #F2F2F2;
 /*  background-image: url("../images/main_bg_4.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}
/* [2-1] 제목*/
#book_order .order_ttl {
    width: 100%;
    height: 240px;
    margin-top: 190px;
}
#book_order .order_ttl h2 {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    line-height: 85px;
    color: #1C1A1A;
}
section .order_ttl .process {
    width: 100%;
    height: 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process_wrap {
  width: 520px;
  height: 55px;
  border-top: 0.5px solid #707070;
  position: relative;
}
.circle {
  width: 536px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -8px;
  left: -8px;
}
.circle li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #B5B1B1;
  background-color: white;
  box-sizing: border-box;
}
.circle li.now {
  border: none;
  background-color: #1C1A1A;
}
.pro_name {
  width: 666px;
  height: 30px;
  position: absolute;
  left: -68px;
  bottom:0;
  display: flex;
  justify-content: space-between;
}
.pro_name li {
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 30px;
  color: #B5B1B1;
}
.pro_name li.now {
  color: #1C1A1A;
}
/* [2-2] 주문 상세내역 */
/* 소제목 */
#book_order article .ttl {
    margin: 0 auto;
    width: 1300px;
    height: 45px;
    position: relative;
}
#book_order article .ttl img {
    float: left;
    margin-top: 17px;
    margin-left: 5px;
}
#book_order article .ttl h3{
	float: left;
    font-family: "Pretendard-Regular";
    font-size: 18px;
    line-height: 45px;
    padding-left: 10px;
    color: #1C1A1A;
}
#book_order article .ttl h6 {
	position: absolute;
	top: 0;
	right: 2px;
	font-family: "Pretendard-Regular";
    font-size: 17px;
    line-height: 45px;
    color: #5A5656;
    letter-spacing: 200%;
}
/* 여기부터 */
/* 주문 상세내역 표 */
/* 나중에 높이 지우기 */
#order_detail .container {
  margin: 0 auto;
  width: 1300px;
}
#order_detail .container table {
width: 100%;
background-color: white;
}
#order_detail .container table th {
height: 70px;
background-color: rgba(28, 26, 26, 0.75);
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
font-family: 'NotoSerifKR';
font-size: 20px;
line-height: 70px;
color: #FAFAF8;
}
#order_detail .container table td {
text-align: center;
height: 120px;
font-family: "Pretendard-Regular";
font-size: 20px;
line-height: 120px;
color: rgba(46, 45, 45, 1);
border-bottom: 0.5px solid #707070; 
}
/* 작동안함 물어보기 */
/* #order_detail .container table td.hidden_col {
display: none;
} */
/* 상품/옵션 정보 스타일 다르게 맞추기 */
#order_detail .container table .book_name {
position: relative;
}
.img_box {
position: absolute;
width: 30%;
height: 120px;
top:0;
left:0;
text-align: center;
}
#order_detail .container table .book_name img {
height: 100px;
margin-top: 10px;
margin-left: 20px;
}
.ttl_writer_wrap {
position: absolute;
top: 0;
left: 30%;
width: 70%;
height: 120px;
display: flex;
align-items: center;
}
.ttl_writer_wrap p {
line-height: 30px;
padding: 13px 5px 5px 8px;
}
/* 여기까지 */
/* 셀렉트박스 커스텀 */
select {
  width: 70px;
  padding: .6em .5em;
  border: 1px solid #999;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  color: rgba(46, 45, 45, 1);
  background: url(../images/order_num_dropdown.png) no-repeat 90% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
input[type=checkbox] {
  width: 17px;
  height: 17px;
}
/* [2-2-2] 장바구니 돌아가기 버튼 */
#order_detail .container .go_back {
  float: left;
  display: block;
  width: 140px;
  height: 33px;
  border: 1px solid #707070;
  text-align: center;
  font-family: 'NotoSerifKR';
  font-size: 15px;
  line-height: 33px;
  color: rgba(46, 45, 45, 1);
  margin-top: 18px;
}
#order_detail .container .go_back:hover {
  background-color: rgba(28, 26, 26, 0.75);
  color: whitesmoke;
  transition: 0.3s;
}
/* [2-2-3] 주문합계 */
.order_check_wrap {
  float: right;
  /* 여기 */
  margin-bottom: 100px;
}
#order_detail .container .order_tot {
  width: 720px;
  height: 300px;
  /* background: url(../images/cart_tot_2.png) no-repeat 0 50%; */
  background-color: white;
  margin-top: 60px;
}
#order_detail .container .order_tot ul {
  margin: 0 auto;
  width: 640px;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
#order_detail .container .order_tot li.plus,
#order_detail .container .order_tot li.equal {
margin-top: 92px;
}
#order_detail .container .order_tot h4 {
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 33px;
  color: #2E2D2D;
  margin-top: 60px;
  text-align: center;
}

#order_detail .container .order_tot span {
  display: inline-block;
  font-family: 'NotoSerifKR';
  font-size: 31px;
  line-height: 47px;
  color: #2E2D2D;
  padding-top: 40px;
  text-align: center;
}
#order_detail .container .order_tot p {
  float: right;
  font-family: 'NotoSerifKR';
  font-size: 18px;
  line-height: 25px;
  color: #5A5656F0;
  padding-right: 40px;
}

/* ****입력폼 칸 스타일 공통***** */
.container .row,
.container .delivery_row,
.container .pay_row {
  width: 100%;
  height: 66px;
  background-color: white;
  border-top: 0.05px solid #707070;
  padding-bottom: 2px;
  padding-top: 2px;
  background-clip: content-box;
}
.container .row_3 {
  width: 100%;
  height: 170px;
  background-color: white;
  border-top: 0.05px solid #707070;
  padding-bottom: 2px;
  padding-top: 2px;
  background-clip: content-box;
  display: flex;
}
.row_3 .wrap {
    width: 70%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 7px;
}
/* 첫번째 행의 보더 탑 굵게 */
/* 스타일 적용안됨 물어보기 */
.container .row:first-child {
 border-top: 1.5px solid #707070;
}
/* 마지막 행의 보더 바텀 굵게 */
.container .row:last-child {
 border-bottom: 1.5px solid #707070;
}
.container .pay_row {
 border-bottom: 1.5px solid #707070;
}
/* label 크기 */
.row label {
  display: inline-block;
  width: 300px;
  height: 66px;
  background-color: #DFE0E2;  
  font-family: 'NotoSerifKR';
  font-size: 18px;
  color: #2E2D2D;
  line-height: 66px;
  padding-left: 15px;
}
.delivery_row h2,
.pay_row h2 {
  display: inline-block;
  width: 300px;
  height: 66px;
  background-color: #DFE0E2;  
  font-family: 'NotoSerifKR';
  font-size: 18px;
  color: #2E2D2D;
  line-height: 66px;
  padding-left: 15px;
}
.row_3 label {
  display: inline-block;
  width: 300px;
  height: 170px;
  background-color: #DFE0E2;  
  font-family: 'NotoSerifKR';
  font-size: 18px;
  color: #2E2D2D;
  line-height: 170px;
  padding-left: 15px;
}
/* 입력칸 크기 */
.row input {
	font-family: "Pretendard-Regular";
	position:relative;
	top: -2.5px;
}
.row input[type="text"] {
  width: 390px;
  height: 45px;
  padding-left: 15px;
}
#addr_4 {
	margin-left: 6px;
}
.row input[type="number"] {
  width: 390px;
  height: 45px;
  padding-left: 15px;
}
.delivery_row input {
	background-color: pink;
}
.delivery_row label:first-child,
.delivery_row label:last-child {
  display: inline-block;
  width: 150px;
  height: 66px; 
  font-family: "Pretendard-Regular";
  font-size: 15px;
  color: #2E2D2D;
  line-height: 66px;
}
.pay_row label {
  display: inline-block;
  width: 150px;
  height: 66px; 
  font-family: "Pretendard-Regular";
  font-size: 15px;
  color: #2E2D2D;
  line-height: 66px;
}
#all_point {
	position: relative;
	top: 2px;
}
#all_point + label {
	background-color: transparent;
	padding-left: 5px;
}
#findPost {
  width: 150px;
  height: 45px;
  background-color: #1C1A1A;
  font-family: "Pretendard-Regular";
  font-size: 15px;
  color: white;
  font-weight: lighter;
  border: none;
  padding-left: 5px;
}
.row_3 .wrap2 input {
  width: 150px;
  height: 45px;
  padding-left: 15px;
}
.row_3 input {
  width: 390px;
  height: 45px;
  padding-left: 15px;
}

/* [2-3] 주문자 정보 */
/* 나중에 높이 지우기 */
#order_user_info {
  margin: 0 auto;
  width: 1300px;
  margin-top: 450px;
}
/* [2-4] 배송 정보 */
#order_delivery_info {
  margin: 0 auto;
  width: 1300px;
  margin-top: 90px;
}
/* [2-5] 결제 정보 */
#order_payment_info {
  margin: 0 auto;
  width: 1300px;
  margin-top: 90px;
}
.row span {
  font-family: "Pretendard-Regular";
  font-size : 16px;
  line-height: 100%;
  color: #1C1A1A;
  padding-left: 15px;
}
/* [2-6] 결제 수단 */
#order_pay_method {
  margin: 0 auto;
  width: 1300px;
  margin-top: 90px;
}
/* [2-7] 최종 결제 안내 */
#order_agree_wrap {
  margin: 0 auto;
  width: 1300px;
  margin-top: 90px;
  margin-bottom: 300px;
}
.order_price_sum {
  margin: 0 auto;
  width: 750px;
  height: 65px;
  text-align: center;
}
.order_price_sum span {
  font-family: 'NotoSerifKR';
  font-size: 27px;
  line-height: 65px;
  color: #2E2D2D;
}
/* 체크박스 동의 */
#order_agree_wrap .agree_chk {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 65px;
  
}
#order_agree_wrap .agree_chk input {
  position: relative;
  top: 2px;
}
#order_agree_wrap .agree_chk label {
  font-family: "Pretendard-Regular";
  font-size : 18px;
  line-height: 100%;
  color: #1C1A1A;
}
#order_agree_wrap .agree_chk label span {
	color: red;
}
/* 결제버튼 */
input[type="submit"] {
  width: 350px;
  height: 90px;
}
.pay_btn {
  margin-top: 60px;
  width: 300px;
  height: 70px;
  background-color : #1C1A1A;
  font-family: 'NotoSerifKR';
  font-size: 22px;
  line-height: 68px;
  color: white;
  font-weight: lighter;
  position: relative;
  left: 50%;
  margin-left: -150px;
  cursor: pointer;
}
.pay_btn:hover {
	box-shadow : 0 0 6px #333;
	transition: 0.3s all ease;
}

