@charset "UTF-8";


#wrap {
  width: 100%;
}

/* [2]메인화면 */
#diary {
  float: left;
  width: 100%;
  background-image: url("../images/diary_bg_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* [2-1] 페이지 타이틀 */
#diary .page_ttl {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-top: 120px;
}
#diary .page_ttl h3 {
 text-align: center;
  width: 280px;
  height: 60px;
  font-family: 'NotoSerifKR';
  font-size: 24px;
  line-height: 60px;
  color: #1C1A1A;
}

/* [2-2 ] 독서기록 목록*/
#diary .book_list {
  margin: 0 auto;
  width: 1200px;
}
/* 기록 추가하기 */
.add_book {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.add_book a {
    float: right;
    display: block;
    width: 9.2%;
    height: 40px;
    margin-right: 2%;
}
.add_book a img {
    float: left;
    height: 20px;
    margin-top: 10px;
}
.add_book a span {
    float: right;
    font-family: "Pretendard-Regular";
    font-size: 18px;
    line-height: 40px;
    color: #1C1A1A;
    text-decoration: underline;
    text-underline-position: under;
}
/* 기록 책 리스트 */
#diary .book_list .book_wrap {
  width: 100%;
}
/* 각각의 책 영역 */
#diary .book_wrap li {
  float: left;
  width: 300px;
  height: 420px;
  padding-bottom: 70px;
}
#diary .book_wrap li a {
  display: block;
}
/* 책 표지 */
#diary .book_wrap li .img_wrap {
  width: 280px;
  height: 270px;
  overflow: hidden;
  text-align: center;
  margin: 0 10px;
  background-color: #CECFC9;
  padding: 45px 0;
  box-shadow: 0 0 4px #999;
}
#diary .book_wrap li .book_cover {
  height: 100%;
  filter: drop-shadow(5px 5px 5px #555);
}
#diary .img_wrap:hover{
    opacity:0.95;
    filter:alpha(opacity=95); 
}
/* 책 제목 */
#diary .book_wrap li .book_ttl {
    width: 100%;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  line-height: 25px;
  color: #1C1A1A;
  padding: 8px 10px;
  box-sizing: border-box;
}
/* 책 가격 */
#diary .book_wrap li .book_score {
  display: block;
  width: 100%;
  height: 38px;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 38px;
  color: #1C1A1A;
  padding-left: 10px;
  box-sizing: border-box;
}
.fa-star {
    color: #EFEFEF;
}
.book_score .on {
    color : #F4C01F;
}
/* 페이징 */
.paging_box {
    float: left;
    width: 100%;
    height: 70px;
    margin-top: 70px;
    margin-bottom: 200px;
}
.page_num {
    margin: 0 auto;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page_num li {
	width: 30px;
	height: 70px;
	text-align: center;
	position: relative;
}
.page_num li a {
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 40px;
	line-height: 50px;
	color: #B5B1B1;
}
.page_num > li > a > img {
    margin-top: 25px;
}


/* 검색모달 */
/* 접속시레이어팝업 */
#modal {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1;
}
  
#modal .modal_content {
    width: 100%;
    margin-top: 150px;
    position: relative;
} 
#modal .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: transparent;
    z-index:-1;
}  
.search_wrap {
    width: 100%;
    background-color: rgba(239, 239, 239, 0.93);
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.search_wrap h3 {
    font-family: 'NotoSerifKR';
    font-size: 30px;
    line-height: 150px;
    color: #1C1A1A;
}
.book_search {
    -webkit-appearance:none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    width: 600px;
    height: 70px;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 0.8px solid #1C1A1A;
    font-family: "Pretendard-Regular";
    font-size: 25px;
    line-height: 70px;
    color: #1C1A1A;
    text-align: center;
    margin-bottom: 100px;
    
}
input::placeholder {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    line-height: 20px;
    margin-top: 50px;
    color: #8A8787;   
}
.book_box {
    width: 950px;
    position: relative;
    top: -50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.book_box .prev,
.book_box .next {
    display: block;
    width: 100px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book_box .prev span::before {
    content: "<";
    display: none;
  }
.book_box .next span::after {
    content: ">";
    display: none;
  }
.book_box .prev:hover span::before {
    display: inline-block;
}
.book_box .next:hover span::after {
    display: inline-block;
}
.book_box a span {
    display: block;
    width: 50px;
    height: 40px;
    font-family: "Pretendard-Regular";
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    color: #1C1A1A;
    cursor: pointer;
}
.book_box .book_rewrap {
    width: 750px;
    display: flex;
    justify-content: space-between;
}
.book_box .book_wrap {
    width: 250px;
    
}
.img_wrap {
    width: 210px;
    height: 270px;
    overflow: hidden;
    text-align: center;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.img_wrap .b_layer {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 270px;
    background-color: transparent;
    z-index: 9999;
    display: flex;
    justify-content: center;
}
.img_wrap .b_layer a {
    display: block;
    width: 110px;
    height: 50px;
    background-color: #1C1A1A;
    font-family: "Pretendard-Regular";
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    color: white;
    /* box-shadow: 0px 0px 6px 1px #555; */
    box-shadow: 0px 0px 6px #1C1A1A;
    margin-top: 150px;
}
.img_wrap:hover .b_layer{
    visibility: visible;
}
.img_wrap .book_cover {
    height: 100%
}
.img_wrap:hover .book_cover {
    opacity: 0.5; 
    filter: alpha(opacity=50);
}
.book_box .book_ttl {
    text-align: center;
    font-family: "Pretendard-Regular";
    font-size: 16px;
    line-height: 20px;
    color: #1C1A1A;
    padding: 8px 20px 2px 20px;
    box-sizing: border-box;
}
.book_box .book_writer {
    display: block;
    text-align: center;
    font-family: "Pretendard-Regular";
    font-size: 14px;
    line-height: 22px;
    color: #1C1A1A;
    padding: 0 20px;
    box-sizing: border-box;
}
.close_btn {
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 20px;
}
.close_btn i {
    color: #BDBEBB;
    cursor: pointer;
}

