<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookshop.mappers.admin">

	<!-- "주문" 20개씩 -->
	<select id="getOrderList" resultType="OrderPlus">
		SELECT C.order_num, C.user_id, C.book_id, D.book_title, D.book_writer, D.book_price, C.book_cnt, C.order_status
		FROM (
			SELECT A.order_num, B.user_id, A.book_id, A.book_cnt, B.order_status
			FROM orderlist A, orders B
			WHERE A.order_num = B.order_num
			AND A.order_num IN (SELECT order_num FROM orders ORDER BY order_num DESC LIMIT #{start}, 20)
		) C, book D
		WHERE C.book_id = D.book_id;
		<!-- start : 20 * (pageNum - 1) -->
	</select>
	
	<!-- 배송중 상태 변경 -->
	<update id="changeToStart">
		UPDATE order
		SET order_status = '배송중'
		WHERE order_num = #{order_num}
	</update>
	
	<!-- 배송완료 상태 변경 -->
	<update id="changeToEnd">
		UPDATE order
		SET order_status = '배송완료'
		WHERE order_num = #{order_num}
	</update>
	
	<!-- 입금전 상태의 주문 개수 -->
	<select id="getBeforeStartCnt" resultType="_int">
		SELECT COUNT(*)
		FROM orders
		WHERE order_status = '입금전'
	</select>
	
	<!-- 배송중 상태의 주문 개수 -->
	<select id="getStartCnt" resultType="_int">
		SELECT COUNT(*)
		FROM orders
		WHERE order_status = '배송중'
	</select>
	
	<!-- 배송완료 상태의 주문 개수 -->
	<select id="getEndCnt" resultType="_int">
		SELECT COUNT(*)
		FROM orders
		WHERE order_status = '배송완료'
	</select>
	
	<!-- 총 주문 개수 -->
	<select id="getTotCnt" resultType="_int">
		SELECT COUNT(*)
		FROM orders
	</select>

</mapper>