<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookshop.mappers.board">

<!-- 도서정보 불러오기 -->
<select id="getBookInfo" resultType="Book">
	SELECT *
	FROM BOOK
	WHERE book_id = #{book_id}
</select>
<!-- ask table에서 book_id 받아오기 -->
<select id="getBookid" resultType="string">
	SELECT book_id 
	FROM ASK 
	WHERE ask_id = #{ask_id}
</select>

<!-- 문의 내용 저장(문의글 쓰기 )-->
<insert id="writeAsk" >
	INSERT INTO ASK(writer, book_id, ask_contents, ask_date, ask_sort) 
	VALUES(#{writer}, #{book_id}, #{ask_contents}, now(), #{ask_sort})
</insert>

<!-- 문의 글 list -->
<select id="getAskList" resultType="AskList" parameterType="hashmap">
	SELECT ask_id, book_title, ask_sort, ask_date, book_cover, askreply_count, writer
	FROM ASK a, BOOK b
	WHERE a.book_id = b.book_id
	AND a.writer = #{writer}
	ORDER BY ask_id DESC
	LIMIT #{start}, 5
</select>

<!-- 다음 페이지가 존재확인 -->
<select id="getNextPage" parameterType="hashmap" resultType="AskList">
	 SELECT A.*
		FROM (SELECT @ROWNUM := @ROWNUM + 1 AS rownum, O.*
				FROM (SELECT @ROWNUM := 0) R,
					 ( SELECT ask_id, book_title, ask_sort, ask_date, book_cover, askreply_count, writer
						FROM ASK a, BOOK b
						WHERE a.book_id = b.book_id
						AND a.writer = #{writer}
						ORDER BY ask_id DESC) O) A
		WHERE rownum = #{pageNumber};
	
</select>

<!-- 문의글 불러오기 -->
<select id="getAsk" resultType="Ask">
	SELECT *
	FROM ASK
	WHERE ask_id = #{ask_id}
	AND available = 0;
</select>

<!-- 댓글 작성 -->
<insert id="insertAskReply">
	INSERT INTO ASKREPLY (ask_id, writer, askreply_contents, askreply_date)
	VALUES (#{ask_id}, #{writer}, #{askreply_contents}, now())
</insert>

<!-- 댓글 불러오기 -->
<select id="getAskReply" resultType="AskReply">
	SELECT *
	FROM ASKREPLY
	WHERE ask_id = #{ask_id}
</select>

<!-- 댓글 삭제 -->
<delete id="deleteAskReply">
	DELETE 
	FROM ASKREPLY
	WHERE askreply_id = #{askreply_id} 
</delete>

<!-- ASK 테이블에 댓글 수 추가하기 -->
<update id="updateAskreplyCount" >
	UPDATE ASK 
	SET askreply_count = 
		(SELECT count(ask_id)
		 FROM ASKREPLY
		 WHERE ask_id = #{ask_id})
	WHERE ask_id = #{ask_id};
</update>

<!-- 유저 정보 불러오기 -->
<select id="getUserInfo" resultType="Users">
	SELECT *
	FROM Users
	WHERE user_id = #{user_id}
</select>

</mapper>