<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookshop.mappers.main">
</mapper>

<mapper namespace="com.bookshop.mappers.book">
</mapper>

<mapper namespace="com.bookshop.mappers.order">
</mapper>

<mapper namesapce="com.bookshop.mappers.admin">
</mapper>